body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #0077ff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #005ecc;
}
